body{
    background: blueviolet;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.text{
    font-size: 40px;
    color: gold;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -160%);
    z-index: 1;
}

.clock{
    width: 300px;
    height: 300px;
    border: 8px solid #000000;
    border-radius: 50%;
    background-color: #ccc;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.twelve{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10px, -145px);
    font-size: 25px;
    font-weight: bold;

    animation: twelve 3s linear infinite;
}

.one{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(65px, -120px) rotate(30deg);
    font-size: 25px;
    font-weight: bold;

    animation: one 3s linear infinite;
}

.two{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(110px, -60px) rotate(60deg);
    font-size: 25px;
    font-weight: bold;

    animation: two 3s linear infinite;
}

.three{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(130px);
    font-size: 25px;
    font-weight: bold;

    animation: three 3s linear infinite;
}

.four{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(105px, 60px) rotate(-40deg);
    font-size: 25px;
    font-weight: bold;

    animation: four 3s linear infinite;
}

.five{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(55px, 105px) rotate(-40deg);
    font-size: 25px;
    font-weight: bold;

    animation: five 3s linear infinite;
}

.six{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, 120px);
    font-size: 25px;
    font-weight: bold;

    animation: six 3s linear infinite;
}

.seven{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55px, 110px) rotate(30deg);
    font-size: 25px;
    font-weight: bold;

    animation: seven 3s linear infinite;
}

.eight{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-120px, 65px) rotate(60deg);
    font-size: 25px;
    font-weight: bold;

    animation: eight 3s linear infinite;
}

.nine{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-140px);
    font-size: 25px;
    font-weight: bold;

    animation: nine 3s linear infinite;
}

.ten{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-135px, -65px) rotate(-40deg);
    font-size: 25px;
    font-weight: bold;

    animation: ten 3s linear infinite;
}

.eleven{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90px, -120px) rotate(-40deg);
    font-size: 25px;
    font-weight: bold;

    animation: eleven 3s linear infinite;
}

.arrow{
    transform-origin: bottom;
    /*margin-top: 10px;*/
    height: 40%;
    width: 3px;
    background: black;
    position: relative;
    left: 50%;
    top: 35px;

    animation: arrow 3s linear infinite;
}

@keyframes arrow{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes twelve {
    0% {
        color: gold;
    }
    8.3% {
        color: black;
    }
    25% {
        color: black;
    }
    75% {
        color: black;
    }
    100% {
        color: gold;
    }
}

@keyframes one {
    0% {
        color: black;
    }
    8.5% {
        color: gold;
    }
    97.6% {
        color: black;
    }
    100% {
        color: black;
    }
}

@keyframes two {
    0% {
        color: black;
    }
    16.6% {
        color: gold;
    }
    50% {
        color: black;
    }
    100% {
        color: black;
    }
}

@keyframes three {
    0% {
        color: black;
    }
    25% {
        color: gold;
    }
    75% {
        color: black;
    }
    100% {
        color: black;
    }
}

@keyframes four {
    0% {
        color: black;
    }
    35% {
        color: gold;
    }
    80% {
        color: black;
    }
    100% {
        color: black;
    }
}

@keyframes five {
    0% {
        color: black;
    }
    45% {
        color: gold;
    }
    80% {
        color: black;
    }
    100% {
        color: black;
    }
}

@keyframes six {
    0% {
        color: black;
    }
    55% {
        color: gold;
    }
    90% {
        color: black;
    }
    100% {
        color: black;
    }
}

@keyframes seven {
    0% {
        color: black;
    }
    60% {
        color: gold;
    }
    85% {
        color: black;
    }
    100% {
        color: black;
    }
}

@keyframes eight {
    0% {
        color: black;
    }
    70% {
        color: gold;
    }
    90% {
        color: black;
    }
    100% {
        color: black;
    }
}

@keyframes nine {
    0% {
        color: black;
    }
    50% {
        color: black;
    }
    75% {
        color: gold;
    }
    90% {
        color: black;
    }
    100% {
        color: black;
    }
}

@keyframes ten {
    0% {
        color: black;
    }
    60% {
        color: black;
    }
    81% {
        color: gold;
    }
    97% {
        color: black;
    }
    100% {
        color: black;
    }
}

@keyframes eleven {
    0% {
        color: black;
    }
    60% {
        color: black;
    }
    97% {
        color: gold;
    }
    100% {
        color: black;
    }
}